
#SettingsBar {
	color: $text-primary-color;
	width: auto;
	height: 6rem;
	z-index: 2;
}


#SettingsButtons-section {
	width: 100%;
	height: 100%;
	z-index: 3;
	> *:first-child {
		margin-left: auto;
	}
}

.Settings-icon {
	width: 3.6rem;
	height: 3.6rem;
	margin: auto 1rem;
	cursor: pointer;
}

#Settings-overflow-icon .Settings-overflow-dot {
	background-color: $text-primary-color;
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 1rem;
	opacity: 1;
	transition: opacity $med-animation ease-in-out;
	&:first-child {
		margin: 0.6rem auto auto;
	};
	&:last-child {
		margin: auto auto 0.6rem;
	}
}

#Settings-overflow-icon .Settings-overflow-line-container {
	width: 0.4rem;
	height: 0.4rem;
	transition: width $med-animation ease-in-out;
}

#Settings-overflow-icon .Settings-overflow-line {
	background-color: $text-primary-color;
	display: block;
	width: 100%;
	height: 0.4rem;
	border-radius: 1rem;
	transition: height $med-animation ease-in-out;
	&:first-child {
		transform: rotate(-45deg);
	};
	&:last-child {
		transform: rotate(45deg);
	}
}

#Settings-overflow-icon.open {
	.Settings-overflow-dot {
		opacity: 0;
	}
	.Settings-overflow-line-container {
		width: 2.6rem;
	}
	.Settings-overflow-line {
		height: 0.2rem;
	}
}

#Overflow-section {
	width: 100%;
	/* height: 100vh; */
	height: 0;
	bottom: 6rem;
	right: 0rem;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	opacity: 0;
	overflow: hidden;
	z-index: 1;
	transition: opacity $fast-animation ease-in-out, height $slow-animation ease-in-out;
	&.open {
		/* height: 30rem; */
		height: 100vh;
		opacity: 1;
		transition: opacity $fast-animation ease-in-out;
	}

	#Overflow-screen {
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	#Overflow-popup {
		width: 20rem;
		/* height: 0rem; */
		height: 30rem;
		background-color: $popup-background-color;
		padding: 1rem 2rem;
		right: 1rem;
		bottom: 1rem;
		z-index: 2;
	}

	.Overflow-row {
		width: 100%;
		height: 4rem;
		margin: 1rem 0 1rem 0;
		cursor: pointer;
		&:hover {
			.theme-switcher {
				opacity: 1;
				z-index: 2;
				&.active {
					opacity: 0;
					z-index: 1 !important;
				};
			};
		};

		.Overflow-row-icon {
			width: 2.4rem;
		}

		.Overflow-row-title {
			width: calc(100% - 3.4rem);
			margin-left: 1rem;
		}
	}
	.theme-switcher {
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 0;
		transition: opacity $fast-animation ease-in-out;
		&.active {
			opacity: 1;
			z-index: 1 !important;
		};
		
	}
	
}

#UserLogin-section {
	width: 100vw;
	height: calc(100vh - 7rem);
	bottom: 6rem;
	background-color: $body-primary-color;
	z-index: 3;

	#UserLogin-card {
		width: calc(100% - 2rem);
		max-width: 40rem;
		height: 48rem;
		border-radius: 1rem;
		border: 1px $border-primary-color solid;
		background-color: $body-secondary-color;
		box-sizing: border-box;
		
	}

	#FirebaseUI-container {
		height: calc(100% - 5rem);

		> * {
			background-color: $body-secondary-color !important;
			margin: auto;
		}
	}

	#UserLogin-close-container {
		height: 5rem;

		#UserLogin-close {
			margin: auto 1rem auto auto;
		}
	}
}
