
#WearSection > section {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
	padding-bottom: 3rem;
}


#WearSection {
	.Wear-header {
		margin: 2rem auto 4rem 0;
	}
	
	.card {
		min-width: 28.5rem;
		min-height: 36rem;
		margin: 1rem;
		&:first-child {
			margin-left: 0.2rem;
		}
		&:last-child {
			margin-right: 0.2rem;
		}

		.card-contents {
			width: calc(100% - 5.7rem);
			height: calc(100% - 6rem);
			z-index: 2;
			transition: width $fast-animation ease-out, height $fast-animation ease-in-out;
		}
		
		.card-icon-container {
			height: 16rem;
			margin-bottom: 1rem;
			transition: height $fast-animation ease-in-out;
			svg {
				width: 100%;
			}
			g, path {
				fill: $text-secondary-color;
			}
		}

		.card-name-container {
			margin: auto 0 2rem;
		}

		.card-color-picker-container {
			width: calc(100% - 4rem);
			height: 0rem;
			bottom: 2rem;
			right: 2rem;
			background-color: $fluent-background-color-blur;
			backdrop-filter: saturate(180%) blur(2px);
			opacity: 0;
			z-index: 1;
			transition: height $fast-animation ease-in-out, opacity $fast-animation ease-in-out, z-index $fast-animation ease-in-out;

			.card-color-picker-close {
				top: 0;
				right: 0;
			}

			.card-color-picker-swapper {
				padding: 1rem;
				margin: 4rem 0 2rem;

				.card-color-picker-option {
					width: 3rem;
					height: 4rem;
					display: flex;
					cursor: pointer;
					background-color: none;
					position: relative;
					transition: background-color $fast-animation ease-in-out;
					&.active {
						&::after {
							position: absolute;
							width: 100%;
							height: 0.4rem;
							border-radius: 0.3rem;
							background-color: $text-secondary-color;
							content: '';
							top: 4rem;
						}
					}
					> span {
						width: 3rem;
						height: 3rem;
						margin: 0 auto;
						border-radius: 3rem;
						transition: width $fast-animation ease-in-out, height $fast-animation ease-in-out;
					}
				}
			}

			.card-color-picker-sliders-container {
				
				.card-color-picker-slider {
					height: 3rem;
					span {
						width: 4rem;
					}
					input {
						width: calc(100% - 4rem);
					}
				}
			}
		}

		.card-color-picker-button {
			margin-left: 1rem;
			&:hover {
				background-color: $theme-blue-med !important;
				color: $text-opposite-color !important;
			}
		}

		.card-addrem {
			width: 2rem;
			height: 2rem;
			border-radius: 1rem;
			top: 1rem;
			right: 1rem;
			opacity: 0;
			transition: opacity $fast-animation ease-in-out;
			&.Add {
				background-color: green;
			}
			&.Remove {
				background-color: red;
			}
		}
		&:hover {
			.card-addrem {
				opacity: 1;
			}
		}

		&.active {
			.card-icon-container {
				height: 10rem;
			}
			.card-color-picker-container {
				height: calc(100% - 15rem);
				opacity: 1;
				z-index: 3;
			}
			.card-color-picker-button {
				background-color: $theme-blue-subtle;
			}
		}
	}
	#NoSelectedCards {
		width: 100%;
		height: 25rem;
		margin-top: 2rem;
		border: 2px $text-secondary-color dashed;
		box-sizing: border-box;
		border-radius: 1rem;;
		opacity: 0.5;
		cursor: default !important;
	}

	.horz-scroll {
		padding-bottom: 1rem;
	}
}

#PickedWear-section {
	margin-bottom: 6rem;
}

#PickedWear-container {
	margin: 2rem auto;
}

/* #PickedWear-submit-container {
	margin-top: 2rem;
} */

#AllWear-container {
	margin: 0 auto 6rem;

	> section {
		margin-bottom: 3rem;
	}
	h4 {
		margin: 0 0 1rem;
	}
}


#WearSuggester {
	
	#SuggestedClothes-container {
		width: 100%;
		margin: 2rem auto;
	}
}