


#CurrentWeatherCard-section {
	width: 100%;

	#CurrentWeatherCard-description {
		margin-top: 1rem;
		font-style: italic;
	}

	#CurrentWeatherCard-container {
		width: 100%;
		margin: 5rem auto 2rem;
	

		#CurrentWeatherCard {
			width: 100%;
			max-width: 56rem;
			height: 30rem;

			#CurrentWeatherCard-temperature {
				margin: 0 auto;
				&:after {
					content: "°";
					position: absolute;
				}
			}

			#CurrentWeatherCard-details {
				margin: auto auto 1rem 1rem;
				#CurrentWeatherCard-minmax {
					margin-top: 1rem;
					span {
						margin-right: 2rem;
					}
				}
			}
		}

		.weather-icon-container {
			max-width: 10rem;
			max-height: 10rem;
			bottom: 1rem;
			right: 1rem;
		}

		span.temperature:after {
			content: "°";
			position: absolute;
		}

		#CurrentWeather-circle {
			width: 50vw;
			height: 50vw;
			max-width: 30rem;
			max-height: 30rem;
			padding: 2rem;
			border-radius: 40rem !important;
			margin: 3rem auto 1rem;
			border-width: 0.3rem !important;
			@media screen and (min-width: $tablet-width) {
				width: 40rem;
				height: 40rem;
			}
	
			.temperature-container {
				width: 100%;
				height: 100%;
				color: $text-secondary-color;
			}

			#CurrentWeather-max {
				top: 2rem;
				left: -8rem;
				@media screen and (max-width: $fixed-large-mobile-width) {
					left: -6rem;
					font-size: 8vw !important;
					line-height: 8vw !important;
				}
			}

			#CurrentWeather-min {
				top: 2rem;
				right: -7rem;
				@media screen and (max-width: $fixed-large-mobile-width) {
					right: -5rem;
					font-size: 8vw !important;
					line-height: 8vw !important;
				}
			}
	
		}

	}
}



#HourlyWeather-section {

	#HourlyWeather-scroll-section {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}

	#HourlyWeather-cards-container {
		padding-bottom: 28rem;
		width: fit-content;
	
		.HourlyWeather-card {
			min-width: 8rem;
			margin: 0 2rem;
			&:first-child {
				margin-left: 0px;
			}
			&:last-child {
				margin-right: 0px;
			}

			.HourlyWeather-icon {
				margin: 1rem auto;
				.weather-icon-container {
					width: 3rem;
				}
			}

			.HourlyWeather-temperature:after {
				content: '°';
				position: absolute;
			}

			@media screen and (max-width: $fixed-med-mobile-width) {
				margin: 0 0.2rem;
			}
		}
	}

	#HourlyWeather-graphs-container {
		width: 100%;
		height: 26rem;
		top: 12rem;
		left: 0;
		@media screen and (max-width: $fixed-med-mobile-width) {
			height: 24rem;
		}

		.d3-graph {
			width: calc(100% - 10rem);
			height: 100%;
			margin-left: 4rem;
			> svg {
				width: 100%;
				height: 100%;
			}
			@media screen and (max-width: $fixed-med-mobile-width) {
				width: calc(100% - 9rem);
			}
		}
	}
}



#ExtendedWeather-section {
	/* border-top: 1px $border-primary-color solid;
	border-bottom: 1px $border-primary-color solid;
	box-sizing: border-box; */

	.ExtendedWeather-row {
		/* width: calc(100% - 6rem);
		max-width: 72rem; 
		padding: 2rem 3rem; */
		width: 100%;
		margin: 2.4rem auto;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	
		.ExtendedWeather-day {
			width: 32rem;
			@media screen and (max-width: $fixed-large-mobile-width) {
				width: 26rem;
			}
			@media screen and (max-width: $fixed-med-mobile-width) {
				width: 20rem;
			}
			@media screen and (max-width: $fixed-small-mobile-width) {
				width: 15rem;
			}
			@media screen and (max-width: $fixed-tiny-mobile-width) {
				width: 14rem;
			}
		}
		.ExtendedWeather-icon {
			width: 3rem;
			margin-right: 2rem;
		}
		.ExtendedWeather-description {
			display: flex;
			/* font-style: italic; */
			@media screen and (max-width: $fixed-med-mobile-width) {
				display: none;
			}
		}
		.ExtendedWeather-temp {
			width: 15rem;
			margin-left: auto;
			@media screen and (max-width: $fixed-tablet-width) {
				width: 12rem;
			}
			@media screen and (max-width: $fixed-small-mobile-width) {
				width: 9rem;
			}
			@media screen and (max-width: $fixed-tiny-mobile-width) {
				width: 7rem;
			}
		}
		.ExtendedWeather-temp span:first-child {
			margin: auto auto auto 0;
		}
		.ExtendedWeather-temp span:last-child {
			margin: auto 0 auto auto;
		}
	}
}






.weather-icon-container {
	display: flex;
	margin: auto;
	width: 100%;
	height: 100%;

	> svg {
		width: 100%;
		height: 100%;
	}
}


