
.displayflex {
	display: flex !important;
}
.flexcol {
	flex-direction: column !important;
}
.flexwrap {
	flex-wrap: wrap !important;
}
.flexgrow {
	flex-grow: 1;
}
.marginauto {
	margin: auto !important;
}
.marginauto-height {
	margin: auto 0px !important;
}

.positionrel {
	position: relative;
}
.positionabs {
	position: absolute;
}
.positionfixed {
	position: fixed;
}

.displaynone {
	display: none !important;
}

.nonselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.pointer {
	cursor: pointer;
}

.oneline {
	white-space: nowrap;
}
.text-center {
	text-align: center;
}


.herofont {
	font-size:  14rem;
	line-height: 14rem;
	padding-bottom: 1rem;
	@media screen and (max-width: $fixed-large-mobile-width) {
		font-size: 20vw !important;
		line-height: 20vw;
	}
}
.herofont:after {
	font-size:  9rem;
	line-height: 10rem;
	@media screen and (max-width: $fixed-large-mobile-width) {
		font-size: 16vw !important;
		line-height: 16vw;
	}
}
.hugefont {
	font-size: 4.8rem !important;
}
.biggerfont {
	font-size: 3.6rem !important;
}
.bigfont {
	font-size: 2.8rem !important;
}
.medfont {
	font-size: 2.2rem !important;
}
.smallfont {
	font-size: 1.8rem !important;
}
.smallerfont {
	font-size: 1.4rem !important;
}
.tinyfont {
	font-size: 1.2rem !important;
}

.hugefont-height {
	height: 4.8rem !important;
	line-height: 4.6rem !important;
}
.biggerfont-height {
	height: 3.6rem !important;
	line-height: 3.4rem !important;
}
.bigfont-height {
	height: 2.6rem !important;
	line-height: 2.4rem !important;
}
.medfont-height {
	height: 2.2rem !important;
	line-height: 2rem !important;
}
.smallfont-height {
	height: 1.7rem !important;
	line-height: 1.5rem !important;
}
.smallfont-height {
	height: 1.4rem !important;
	line-height: 1.3rem !important;
}
.smallfont-height {
	height: 1.2rem !important;
	line-height: 1.1rem !important;
}

.bold8 {
	font-weight: 800 !important;
}
.bold7 {
	font-weight: 700 !important;
}
.bold6 {
	font-weight: 600 !important;
}
.bold5 {
	font-weight: 500 !important;
}
.bold4 {
	font-weight: 400 !important;
}
.bold3 {
	font-weight: 300 !important;
}
.bold2 {
	font-weight: 200 !important;
}


.shadow-top {
	box-shadow: -2px -2px 5px $light-shadow;
}

.card-shadow {
	box-shadow: 0 0 1.4rem -0.75rem $light-shadow;
}

.popup-shadow {
	box-shadow: 0 -1px 3rem -1.5rem $light-shadow;
}

.horz-scroll {
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}