
.MDI-container > svg {
	width: 100%;
	height: 100%;
}

.card {
	padding: 3rem;
	&.largecard {
		padding: 4rem;
	}
	box-sizing: border-box;
	@media screen and (max-width: $large-mobile-width) {
		padding: 2rem !important;
	}

	&.solid-card {
		background-color: $body-secondary-color;
		border: 1px $border-primary-color solid;
		border-radius: 1rem;

		&.green {
			border-color: hsl(106, 59%, 63%);
		}
		&.yellow {
			border-color: rgba(193, 188, 115, 0.9);
		}
	}

	&.fluent-card {
		background-color: $fluent-background-color;
		backdrop-filter: saturate(180%) blur(2px);
		border-radius: 0.75rem;

		&.yellow {
			border: 0.1rem $fluent-yellow solid;
		}
		&.blue {
			border: 0.1rem $fluent-blue solid;
		}
		&.gray {
			border: 0.1rem $fluent-gray solid;
		}
		&.lightgray {
			border: 0.1rem $fluent-lightgray solid;
		}
	}	
}

.card-row {
	width: 100%;
	margin: 1rem auto;
}

.three-card-row {
	@media screen and (min-width: $large-mobile-width+1) {
		.card {
			width: calc(33% - 1.2rem);
			margin: 1rem;
			transition: width $fast-animation ease-in-out, min-width $fast-animation ease-in-out;
		}
		.card:nth-child(3n-2) {
			margin-left: 0.1rem;
		}
		.card:nth-child(3n) {
			margin-right: 0.1rem;
		}
	}
	@media screen and (max-width: $large-mobile-width) {
		.card {
			width: calc(50% - 1.04rem);
			margin: 1rem;
		}
		.card:nth-child(2n-1) {
			margin-left: 0;
		}
		.card:nth-child(2n) {
			margin-right: 0;
		}
	}
	@media screen and (max-width: $small-mobile-width) {
		.card {
			width: calc(100% - 1.04rem) !important;
			margin: 1rem !important;
		}
	}
}
.two-card-row {
	.card {
		width: calc(50% - 1.04rem);
		margin: 1rem;
	}
	.card:nth-child(2n-1) {
		margin-left: 0;
	}
	.card:nth-child(2n) {
		margin-right: 0;
	}
}


.popup {
	border-radius: 0.4rem;
	border: 1px $border-primary-color solid;
	background-color: $body-secondary-color;
	box-sizing: border-box;
	&.green {
		border-color: hsl(106, 59%, 63%);
	}
	&.yellow {
		border-color: rgba(193, 188, 115, 0.9);
	}
}



.solid-button {
	background-color: $button-default-color-1;
	border: 0.1rem $button-default-color-2 solid;
	border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 0.8rem 1.5rem;
	cursor: pointer;
	transition: all $fast-animation ease-in-out;

	&.large {
		padding: 1.2rem 2.2rem;
	}

	&.teal-button {
		border-color: $button-teal-border-color;
		background-color: $button-teal-background-color;
		color: $text-opposite-color;
		&:hover {
			border-color: $button-teal-hover-border-color;
			background-color: $button-teal-hover-background-color;
		}
	}

	&.red-button {
		border-color: $button-red-border-color;
		background-color: $button-red-background-color;
		color: $text-opposite-color;
		&:hover {
			border-color: $button-red-hover-border-color;
			background-color: $button-red-hover-background-color;
		}
	}
}


.outline-button {
	background-color: transparent;
	color: $text-secondary-color;
	border: 0.2rem $text-secondary-color solid;
	border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 0.8rem 1.5rem;
	box-shadow: 0px 0px 0px -4px $text-primary-color;
	font-size: 1.6rem;
	cursor: pointer;
	transition: all $fast-animation ease-in-out;

	&.blue-button {
		border-color: #009CDE;
		color: #009CDE;
		&:hover {
			border-color: rgb(1, 114, 163);
			color: rgb(1, 114, 163);
		}
	}
	&.green-button {
		border-color: $button-green-border-color;
		color: $button-green-background-color;
		&:hover {
			border-color: $button-green-hover-border-color;
			background-color: $button-green-hover-background-color;
			color: $text-opposite-color;
		}
	}
	&.red-button {
		border-color: $button-red-border-color;
		color: $button-red-background-color;
		&:hover {
			border-color: $button-red-hover-border-color;
			background-color: $button-red-hover-background-color;
			color: $text-opposite-color;
		}
	}
}

.outline-input {
	height: 3.8rem;
	padding: 0.5rem;
	border: 0.1rem $text-primary-color solid;
	box-sizing: border-box;
	font-size: 1.5rem;
	line-height: 1.5rem;
	outline: none !important;
	&::placeholder {
		font-size: 1.5rem;
	}
	&:focus {
		/* border-color: $nav-background-color; */
		border-width: 0.2rem;
		padding-left: 0.4rem;
	}
}


.dropdown {
	min-width: 18rem;
	display: inline-block;
	position: relative;

	.dropdown-input {
		display: none;
	}
	.dropdown-label {
		width: 100%;
		height: 100%;
		padding: 1rem 1.4rem;
		border: 0.2rem $theme-blue-med solid;
		display: flex;
		position: relative;
		box-sizing: border-box;
		cursor: pointer;
		&:after {
			position: absolute;
			right: 1.6rem;
			line-height: 2.8rem !important;
			content: "\25BD";
			opacity: 1;
		}
	}

	.dropdown-ul {
		padding: 0;
		margin: 0;
		position: relative;
		visibility: hidden;
		opacity: 0;
		top: -2rem;
		background-color: $body-secondary-color;
		border: 0.2rem $theme-blue-med solid;
		border-top: none;
		z-index: 1;

		.dropdown-li {
			padding: 1.4rem;
			cursor: pointer;
			
			&:hover {
				background-color: $theme-blue-subtle;
			}
		}

	}

	.dropdown-input:checked + .dropdown-label {
		border-bottom: none;
		border-width: 0.4rem;
		border-color: $text-tertiary-color;
		&:hover {
			background-color: $theme-blue-subtle;
		}
		&:after {
			opacity: 0;
		}
	}

	.dropdown-input:checked ~ .dropdown-ul {
		border-width: 0.4rem;
		border-color: $text-tertiary-color;
		box-shadow: 0px 15px 30px -12px $popup-overlay-background-color;
		visibility: visible;
		opacity: 1;
		top: 0;
	}

	.dropdown-ul, .dropdown-li {
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		-ms-transition: all .3s;
		transition: all .3s;  
		backface-visibility:hidden;
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
	}

	.dropdown-icon {
		width: 3rem;
		display: flex;
		margin: auto 1rem auto -0.4rem;

		.theme-icon {
			width: 3rem;
			height: 3rem;
			display: flex;

			svg {
				margin: auto;
			}
		}
	}
	.dropdown-title {
		display: flex;
	}
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 0.7rem;
	border-radius: 0.5rem;
	background-color: $slider-color;
	outline: none;
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 1.6rem;
		height: 1.6rem;
		border: 0;
		border-radius: 50%;
		background-color: $theme-blue-med;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 1.6rem;
		height: 1.6rem;
		border: 0;
		border-radius: 50%;
		background-color: $theme-blue-med;
		cursor: pointer;
	}
}
