
.MDI-container > svg {
	width: 100%;
	height: 100%;
}

.card {
	padding: 2rem;
	border-radius: 1rem;
	border: 1px $border-primary-color solid;
	background-color: $body-secondary-color;
	box-sizing: border-box;
	&.green {
		border-color: hsl(106, 59%, 63%);
	}
	&.yellow {
		border-color: rgba(193, 188, 115, 0.9);
	}
}

.card-row {
	width: 100%;
	margin: 1rem auto;
}

.three-card-row {
	.card {
		width: calc(33% - 1.04rem);
		margin: 1rem;
	}
	.card:nth-child(3n-2) {
		margin-left: 0;
	}
	.card:nth-child(3n) {
		margin-right: 0;
	}
}
.two-card-row {
	.card {
		width: calc(50% - 1.04rem);
		margin: 1rem;
	}
	.card:nth-child(2n-1) {
		margin-left: 0;
	}
	.card:nth-child(2n) {
		margin-right: 0;
	}
}


.popup {
	border-radius: 0.4rem;
	border: 1px $border-primary-color solid;
	background-color: $body-secondary-color;
	box-sizing: border-box;
	&.green {
		border-color: hsl(106, 59%, 63%);
	}
	&.yellow {
		border-color: rgba(193, 188, 115, 0.9);
	}
}


.indigo-bg {
	background-color: $indigo;
}


.solid-button {
	background-color: $button-default-color-1;
	border: 0.1rem $button-default-color-2 solid;
	border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 1rem 1.5rem;
	cursor: pointer;
	transition: all $fast-animation ease-in-out;
}


.outline-button {
	background-color: transparent;
	border: 0.1rem $text-primary-color solid;
	border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 1rem 1.5rem;
	box-shadow: 0px 0px 0px -4px $text-primary-color;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all $fast-animation ease-in-out;

	&.blue-button {
		border-color: #009CDE;
		color: #009CDE;
		&:hover {
			border-color: rgb(1, 114, 163);
			color: rgb(1, 114, 163);
		}
	}
	&.green-button {
		border-color: green;
		color: green;
		&:hover {
			border-color: green;
			color: green;
		}
	}
	&.red-button {
		border-color: $red-med;
		color: $red-med;
		&:hover {
			border-color: $red-bold;
			color: $red-bold;
		}
	}
}

.outline-input {
	height: 3.8rem;
	padding: 0.5rem;
	border: 0.1rem $text-primary-color solid;
	box-sizing: border-box;
	font-size: 1.5rem;
	line-height: 1.5rem;
	outline: none !important;
	&::placeholder {
		font-size: 1.5rem;
	}
	&:focus {
		/* border-color: $nav-background-color; */
		border-width: 0.2rem;
		padding-left: 0.4rem;
	}
}