
#App-main {
	width: 100%;
	/* height: 100%; */
	height: calc(100% - 4px);
	background-color: $body-primary-color;
	color: $text-primary-color;
	overflow-y: auto;
	padding-top: 4px;
	z-index: 1;
	&.full {
		height: 100vh;
	}

	&.light {
		background-color: $body-primary-color-light;
		.weather-drop {
			animation-duration: $slow-weather !important;
		}
	}
	&.medium {
		background-color: $body-primary-color-medium;
		.weather-drop {
			animation-duration: $med-weather !important;
		}
	}
	&.dark {
		background-color: $body-primary-color-dark;
		.weather-drop {
			animation-duration: $fast-weather !important;
		}
	}

	#App-main-blur-background {
		/* width: calc(100% - 1.5rem); */
		width: 100%;
		height: 100%;
		backdrop-filter: blur(4px);
		z-index: 2;
	}
	#App-main-weather-background {
		/* width: calc(100% - 1.5rem); */
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;
	}

	.App-main-weather-container {
		display: none;
		height: 100%;

		.weather-drop {
			content: "";
			position: absolute;
			z-index: 2;
			animation: linear infinite raindrops;
		}
	}
	
	&.rain {
		#rain-container {
			display: block !important;
		}
	}

	#rain-container {
		.raindrop-container {
			width: 4px;
			height: calc(100vh + 100px);
			content: "";
			position: absolute;
			top: -100px;
			transform: rotate(20deg);
			
			> .raindrop {
				width: 100%;
				height: 28px;
				background-color: rgb(67, 125, 176);
				top: -30px;
				border-radius: 50% 50% 33% 25%;
			}

			&.one {
				left: 6%;
				> .raindrop {
					animation-delay: 0s;
				}
			}
			&.two {
				left: 20%;
				> .raindrop {
					animation-delay: 2.1s;
					animation-duration: 0.5s !important;
				}
			}
			&.three {
				left: 33%;
				> .raindrop {
					animation-delay: 0.75s;
				}
			}
			&.four {
				left: 48%;
				> .raindrop {
					animation-delay: 3.8s;
					animation-duration: 0.5s !important;
				}
			}
			&.five {
				left: 60%;
				> .raindrop {
					animation-delay: 1.3s;
				}
			}
			&.six {
				left: 79%;
				> .raindrop {
					animation-delay: 2.5s;
					animation-duration: 0.5s !important;
				}
			}
			&.seven {
				left: 94%;
				> .raindrop {
					animation-delay: 0.5s;
				}
			}
		}

		@keyframes raindrops {
			from { top: -30px; }
			to {top: 100vh; }
		}
	}

}
#App-main-inner {
	width: calc(100% - 4rem);
	max-width: $max-pc-width;
	margin: auto auto 6rem;
	background: none;
	z-index: 3;
	@media screen and (max-width: $tablet-width) {
		max-width: 90rem;
	}
	@media screen and (max-width: $small-mobile-width) {
		width: calc(100% - 2rem);
	}
}
.main-tab {
	width: 100%;
	display: flex;
	padding: 4rem 0;
}

#WeatherDaily > section {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
	padding-bottom: 12rem;
	&:last-child {
		padding-bottom: 3rem !important;
	}
	@media screen and (max-width: $med-mobile-width) {
		padding-bottom: 8rem;
	}
}

#CitySelector {
	width: 100%;
	max-width: 40rem;
	height: auto;
	padding: 2rem 3rem;
}


#App-Navbar {
	width: 100%;
	height: 6rem;
	position: fixed;
	bottom: 0;
	background-color: $nav-background-color;
	color: $text-primary-color;
	backdrop-filter: saturate(180%) blur(3px);
	border-top: 1px $nav-border-color solid;
	box-sizing: border-box;
	z-index: 2;
	&.yellow {
		background-color: $fluent-yellow;
	}
	&.blue {
		background-color: $fluent-blue;
	}
	&.darkblue {
		background-color: $fluent-darkblue;
	}
	&.gray {
		background-color: $fluent-gray;
	}
	&.lightgray {
		background-color: $fluent-lightgray;
	}
}
#App-Navbar-tabs {
	max-width: calc(100% - 6rem);
	height: 100%;
	margin-left: 3rem;
	@media screen and (max-width: $small-mobile-width) {
		margin-left: 1rem;
	}
}

.Navbar-tab {
	width: 50%;
	height: 100%;
	margin: auto 2rem;
	@media screen and (max-width: $tiny-mobile-width) {
		margin-left: 1rem;
	}
}
.Navbar-tab-inner {
	min-width: 6rem;
	height: 100%;
}
.Navbar-tab-icon {
	height: 3.5rem;
	margin: 0 auto;
	svg {
		width: 3rem;
		height: 3rem;
		margin: auto;
	}
}
.Navbar-tab-title {
	text-align: center;
	margin: auto;
}

#CreditsSection {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;

	#credits {
		margin: 0 0 4rem auto;
		a {
			color: $theme-blue-dark;
		}
	}
}
