
#App-main {
	width: 100%;
	height: 100%;
	/* height: calc(100% - 4px); */
	background-color: $body-primary-color;
	color: $text-primary-color;
	overflow-y: auto;
	/* padding-top: 4px; */
	z-index: 1;
	&.full {
		height: 100vh;
	}

	&.light {
		background-color: $body-primary-color-light;
		.weather-drop {
			animation-duration: $slow-weather !important;
		}
	}
	&.medium {
		background-color: $body-primary-color-medium;
		.weather-drop {
			animation-duration: $med-weather !important;
		}
	}
	&.dark {
		background-color: $body-primary-color-dark;
		.weather-drop {
			animation-duration: $fast-weather !important;
		}
	}

	#App-main-blur-background {
		width: calc(100% - 1.5rem);
		/* width: 100%; */
		height: 100%;
		backdrop-filter: blur(4px);
		z-index: 2;
		@media screen and (max-width: $large-tablet-width) {
			width: 100%;
		}
	}
	#App-main-weather-background {
		width: calc(100% - 1.5rem);
		/* width: 100%; */
		height: 100%;
		overflow: hidden;
		z-index: 1;
		@media screen and (max-width: $large-tablet-width) {
			width: 100%;
		}
	}

	.App-main-weather-container {
		display: none;
		height: 100%;

		.weather-drop {
			content: "";
			position: absolute;
			z-index: 2;
			animation: linear infinite raindrops;
		}
	}
	
	&.rain {
		#rain-container {
			display: block !important;
		}
	}

	#rain-container {
		.raindrop-container {
			width: 4px;
			height: calc(100vh + 100px);
			content: "";
			position: absolute;
			top: -100px;
			transform: rotate(20deg);
			
			> .raindrop {
				width: 100%;
				height: 28px;
				background-color: rgb(67, 125, 176);
				top: -30px;
				border-radius: 50% 50% 33% 25%;
			}

			&.one {
				left: 6%;
				> .raindrop {
					animation-delay: 0s;
				}
			}
			&.two {
				left: 20%;
				> .raindrop {
					animation-delay: 2.1s;
					animation-duration: 0.5s !important;
				}
			}
			&.three {
				left: 33%;
				> .raindrop {
					animation-delay: 0.75s;
				}
			}
			&.four {
				left: 48%;
				> .raindrop {
					animation-delay: 3.8s;
					animation-duration: 0.5s !important;
				}
			}
			&.five {
				left: 60%;
				> .raindrop {
					animation-delay: 1.3s;
				}
			}
			&.six {
				left: 79%;
				> .raindrop {
					animation-delay: 2.5s;
					animation-duration: 0.5s !important;
				}
			}
			&.seven {
				left: 94%;
				> .raindrop {
					animation-delay: 0.5s;
				}
			}
		}

		@keyframes raindrops {
			from { top: -30px; }
			to {top: 100vh; }
		}
	}

	/* @media screen and (min-width: 835px) {
		::-webkit-scrollbar {
			background-color: $body-primary-color;
		}
	} */
}
#App-main-inner {
	width: calc(100% - 4rem);
	max-width: $max-pc-width;
	/* margin: auto auto 6rem; */
	margin: auto;
	background: none;
	z-index: 3;
	@media screen and (max-width: $tablet-width) {
		max-width: 90rem;
	}
	@media screen and (max-width: $small-mobile-width) {
		width: calc(100% - 2rem);
	}
}
.main-tab {
	width: 100%;
	display: flex;
	padding: 4rem 0;
}

#WeatherTab > section {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
	padding-bottom: 12rem;
	&:last-child {
		padding-bottom: 0rem !important;
	}
	@media screen and (max-width: $med-mobile-width) {
		padding-bottom: 8rem;
	}
}

#CitySelector {
	width: 100%;
	max-width: 40rem;
	height: auto;
	padding: 2rem 3rem;
}


#WearTab {
	width: calc(100vw - 2rem);
	left: 0;
	top: 0;
	position: absolute;
	@media screen and (max-width: $wear-transform-width) {
		width: 100%;
		left: auto;
		top: auto;
		position: relative;
		overflow: hidden;

		#WearTab-main {
			width: 100% !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
	

	#WearTab-main {
		width: calc(80% - 60rem);
		margin-left: 10%;
		z-index: 1;

		.Wear-header {
			margin: 2rem auto 4rem 0;
		}

		> section {
			width: 100%;
			max-width: 90rem;
			margin: 0 auto;
			padding-bottom: 12rem;
		}

		#WearSuggester {
	
			#SuggestedClothes-container {
				width: 100%;
				margin: 2rem auto;
			}
		}

		#WearPicker {
			#AllWear-container {
				margin: 0 auto 6rem;
			
				> section {
					margin-bottom: 3rem;
				}
				h4 {
					margin: 0 0 1rem;
				}
			}

			#PickedWear-section {
				margin-bottom: 6rem;
			}
			
			#PickedWear-container {
				margin: 2rem auto;
			}

			#NoSelectedCards {
				width: 100%;
				height: 25rem;
				margin-top: 2rem;
				border: 2px $text-secondary-color dashed;
				box-sizing: border-box;
				border-radius: 1rem;;
				opacity: 0.5;
				cursor: default !important;
			}
		}

		#WearCartFAB-container {
			max-width: 120rem;
			height: 0;
			position: fixed;
			padding-bottom: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 3;
			#WearCartFAB {
				background-color: $button-default-color-2;
				color: $button-default-text-color-2;
				right: 2rem;
				bottom: -10rem;
				transition: bottom $fast-animation ease-in-out;
				@media screen and (max-width: $wear-transform-width) {
					bottom: 4rem;
				}
				@media screen and (max-width: $nav-transform-width) {
					bottom: 7rem;
				}
			}
		}
	}

	#WearTab-sidebar {
		width: 100%;
		max-width: 50rem;
		height: calc(100vh - 20rem);
		margin-right: 10%;
		padding: 2rem;
		/* background-color: $body-primary-color-medium; */
		top: 6rem;
		right: 0rem;
		transition: right $fast-animation ease-in-out;
		z-index: 2;

		> header {
			text-align: center;
			@media screen and (max-width: $tablet-width) {
				font-size: 3.6rem !important;
				line-height: 3.4rem !important;
			}
		}

		#WearSidebar-cards-container {
			margin-top: 2rem;
			margin-bottom: auto;
			overflow: auto;
			> .wide-card {
				height: 12rem;
				margin-bottom: 1rem;
				border-bottom: 1px solid $fluent-gray;
				&:last-child {
					margin-bottom: 0 !important;
					border-bottom: none !important;
				}
				.main-container {
					p {
						margin: auto auto auto 0;
					}
					button {
						height: 4rem;
						margin: auto 0 auto auto;
					}
				}
			}
		}

		#WearSidebar-cards-empty {
			margin-top: 4rem;
			margin-bottom: auto;
			padding: 2rem 0;
			border: 2px #3c3c3f dashed;
			> p {
				margin: 5rem auto;
			}
		}

		#WearSidebar-buttons-section {
			margin-top: 4rem;
			.buttons-container {
				width: 100%;
				max-width: 10rem;
			}
		}

		#WearSidebar-close-section {
			display: none;
			@media screen and (max-width: $tablet-width) {
				display: flex;
				margin-top: 2rem;
			}
			> #WearCloseFAB {
				margin-left: auto;
				padding: 0 0 2px 0;
				background-color: $button-red-background-color;
				border-color: $button-red-border-color;
				color: $text-opposite-color;
			}
		}

		@media screen and (max-width: $wear-transform-width) {
			width: calc(100% - 9rem) !important;
			height: calc(100vh - 26rem) !important;
			right: -100% !important;
			margin-right: 0 !important;
			&.show {
				right: 3rem !important;
				/* max-width: none; */
			}
		}
		@media screen and (max-width: $tablet-width) {
			width: 100% !important;
			max-width: none;
			height: calc(100vh - 6rem) !important;
			top: 0rem;
			border-radius: 0;
			&.show {
				right: 0rem !important;
			}
		}
	}
}


#WearInformer-section {
	width: 100%;
	max-width: 90rem;
	margin: 3rem auto 10rem;
	@media screen and (max-width: $med-mobile-width) {
		margin-top: 1rem;
	}

	svg {
		width: 3rem;
		min-width: 3rem;
		height: 2.8rem;
		margin-right: 1.2rem;
		@media screen and (max-width: $large-mobile-width) {
			width: 2.6rem;
			min-width: 2.6rem;
			height: 2.5rem;
		}
	}
}

#LogIn-container {
	width: 100%;
	max-width: 90rem;
	height: 4rem;
	margin: 0 auto;
	@media screen and (max-width: $large-mobile-width) {
		height: 3rem;
	}
	button {
		right: 0;
		top: 1rem;
	}
}

#Credits-section {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;

	#credits {
		margin: 0 0 4rem auto;
		a {
			color: $theme-blue-dark;
		}
	}
}
