
$body-primary-color: rgb(35, 43, 56);
$body-primary-color-blur: rgba(35, 43, 56, 0.4);
$body-primary-color-light: rgb(35, 43, 56);
$body-primary-color-medium: rgb(35, 43, 56);
$body-primary-color-dark: rgb(35, 43, 56);
$body-secondary-color: rgb(52, 61, 78);

$fluent-background-color: rgba(52, 61, 78, 0.7);
$fluent-background-color-blur: rgba(47, 57, 74, 0.9);

$nav-background-color: rgba(48, 90, 85, 0.8);
$nav-border-color: rgb(60, 66, 65);

$popup-background-color: rgb(47, 55, 70);
$popup-overlay-background-color: rgba(20, 20, 20, 0.6);

$text-primary-color: rgb(248, 248, 248);
$text-secondary-color: rgb(220, 220, 220);
$text-tertiary-color: rgb(160, 160, 160);

$border-primary-color: rgb(65, 65, 66);
$border-secondary-color: rgb(105, 105, 106);

$light-shadow: rgba(0, 0, 0, 0.69);
$button-default-color-1: rgb(220, 220, 220);
$button-default-color-2: rgb(233, 242, 247);
$slider-color: rgb(179, 185, 189);


$fluent-yellow: rgba(206, 200, 118, 0.6);
$fluent-blue: rgba(130, 169, 192, 0.6);
$fluent-darkblue: rgba(65, 89, 108, 0.6);
$fluent-gray: rgba(120, 126, 130, 0.6);
$fluent-lightgray: rgba(144, 155, 162, 0.6);


$theme-blue-dark: rgb(150, 184, 204);
$theme-blue-med: rgb(140, 170, 187);
$theme-blue-subtle: rgb(106, 135, 152);

$red-bold: red;
$red-med: rgb(241, 83, 83);
$red-subtle: red;

$google-signin: rgb(117, 117, 151);
$google-signin-hover: rgb(93, 93, 116);
$email-signin: rgb(219, 68, 55);
$email-signin-hover: rgb(184, 68, 58);


