
$body-primary-color: rgb(248, 248, 248);
$body-secondary-color: white;

/* $nav-background-color: rgba(102, 126, 189, 0.9); */
$nav-background-color: rgba(39, 130, 119, 0.9);

$popup-background-color: rgb(252, 252, 252);

$text-primary-color: rgb(20, 20, 20);
$text-secondary-color: rgb(60, 60, 63);
$text-tertiary-color: rgb(100, 100, 106);

$border-primary-color: rgb(211, 211, 214);
$border-secondary-color: rgb(115, 115, 115);

$light-shadow: rgba(60, 60, 60, 0.62);


$indigo: rgb(54, 70, 216);

$red-bold: red;
$red-med: red;
$red-subtle: red;