
$body-primary-color: rgb(240, 240, 240);
$body-primary-color-blur:  rgba(248, 248, 248, 0.4);
$body-primary-color-light: rgb(240, 240, 240);
$body-primary-color-medium: rgb(228, 229, 230);
$body-primary-color-dark: rgb(208, 212, 218);
$body-secondary-color: white;

$fluent-background-color: rgba(248, 248, 248, 0.8);
$fluent-background-color-blur: rgba(243, 244, 244, 0.85);

$nav-background-color: rgba(39, 130, 119, 0.8);
$nav-border-color: rgba(100, 100, 100, 0.2);

$popup-background-color: rgb(252, 252, 252);
$popup-overlay-background-color: rgba(0, 0, 0, 0.3);

$text-primary-color: rgb(20, 20, 20);
$text-secondary-color: rgb(60, 60, 63);
$text-tertiary-color: rgb(100, 100, 106);
$text-opposite-color: rgb(252, 252, 252);

$border-primary-color: rgb(211, 211, 214);
$border-secondary-color: rgb(115, 115, 115);

$light-shadow: rgba(60, 60, 60, 0.62);
$button-default-color-1: rgb(195, 199, 205);
$button-default-color-2: rgb(112, 124, 146);
$slider-color: rgb(179, 185, 189);


$fluent-yellow: rgba(203, 194, 68, 0.6);
$fluent-blue: rgba(105, 169, 207, 0.6);
$fluent-darkblue: rgba(42, 102, 149, 0.6);
$fluent-gray: rgba(164, 174, 179, 0.6);
$fluent-lightgray: rgba(195, 205, 211, 0.6);


$theme-blue-dark: rgb(90, 133, 158);
$theme-blue-med: rgb(116, 162, 189);
$theme-blue-subtle: rgb(142, 175, 194);

$button-green-background-color: rgb(46, 83, 75);
$button-green-border-color: rgb(42, 119, 106);
$button-green-hover-background-color: rgb(85, 152, 144);
$button-green-hover-border-color: rgb(59, 112, 106);

$button-teal-background-color: rgb(61, 145, 140);
$button-teal-border-color: rgb(41, 105, 102);
$button-teal-hover-background-color: rgb(52, 123, 119);
$button-teal-hover-border-color: rgb(28, 69, 67);

$button-red-background-color: rgb(167, 67, 56);
$button-red-border-color: rgb(137, 53, 44);
$button-red-hover-background-color: rgb(185, 97, 87);
$button-red-hover-border-color: rgb(143, 61, 51);

$red-bold: red;
$red-med: red;
$red-subtle: red;

$google-signin: rgb(117, 117, 151);
$google-signin-hover: rgb(93, 93, 116);
$email-signin: rgb(206, 71, 59);
$email-signin-hover: rgb(229, 80, 66);




