$navbarh: 6rem;
$open-navbarh: 18rem;
$max-pc-width: 160rem;
$large-tablet-width: 834px;
$tablet-width: 768px;
$large-mobile-width: 600px;
$med-mobile-width: 414px;
$small-mobile-width: 375px;
$tiny-mobile-width: 330px;
$fast-animation: 0.4s;
$med-animation: 0.6s;
$slow-animation: 1s;
$fast-weather: 0.25s;
$med-weather: 0.69s;
$slow-weather: 1.25s;


#App {
	&.light-theme {
		@import './_LightTheme';
		@import './partials/_basics.scss';
		@import './partials/_elements.scss';
		@import './components/_navbar.scss';
		@import './components/_weathercards.scss';
		@import './components/clothingcards';
		@import './_App.scss';
	}
	&.dark-theme {
		@import './_DarkTheme.scss';
		@import './partials/_basics.scss';
		@import './partials/_elements.scss';
		@import './components/_navbar.scss';
		@import './components/_weathercards.scss';
		@import './components/clothingcards';
		@import './_App.scss';
	}
	height: 100%;
}

#App.nouser #WeatherTab {
	width: 100% !important;
	max-width: 100rem;
	margin: 0 auto;
}